{% extends 'base.html.twig' %}

{% block body %}
    <div class="banner-category">
        <img class="d-block w-100" src="https://i.postimg.cc/T2CMZyV2/Webp-net-resizeimage-1.jpg" alt="">
        <h1 class="centered">{{ category.name }}</h1>
    </div>
    <div class="container-fluid">
        <div class="row my-5 no-gutters justify-content-center">
            <nav class="navbar navbar-expand-lg navbar-light bg-white">
                <ul class="navbar-nav">
                    {% for subCateg in subCategories %}
                        <li class="nav-item mx-3">
                            <a class="nav-link" href="{{ path('subCategory_index', {'id': subCateg.id}) }}">{{ subCateg.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="row no-gutters product-content">
            {% if items is empty %}
                <h3 class="text-center">Cette gamme de produit n'est pas disponible pour le momement !</h3>
            {% else %}
                {% for products in items %}
                    {% for product in products %}
                        <div class="card card-product mx-3 mb-5" style="width: 15rem;">
                            <a href="{{ path('product_index', {'id': product.id}) }}" class="subCateg ">
                                <img src="{{ product.images[0] }}" class="card-img-top card-product-image" alt="...">
                                <div class="card-body card-body-product my-2">
                                    <h5 class="card-title text-center">{{ product.name }}</h5>
                                    <p class="card-text text-center">{{ product.price }} €</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}