{% extends 'base.html.twig' %}

{% block body %}
    {% include 'home/news.html.twig' %}
    <div class="banner-category">
        <img class="d-block w-100" src="https://i.postimg.cc/T2CMZyV2/Webp-net-resizeimage-1.jpg" alt="">
        <h1 class="centered">{{ subCateg.name }}</h1>
    </div>
    <div class="container-fluid">
        <div class="row my-3 no-gutters justify-content-center">
            <nav class="navbar navbar-expand-lg navbar-light bg-white">
                <ul class="navbar-nav flex-row">
                    {% for subCateg in subCategories %}
                        <li class="nav-item mx-3">
                            <a class="nav-link font-weight-bold" href="{{ path('subCategory_index', {'id': subCateg.id}) }}">{{ subCateg.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutters justify-content-between">
            <div class="col-md-2 d-none d-md-block">
                <ul class="list-group list-group-flush">
                    {% for subCateg2 in subCategs2 %}
                        <li class="list-group-item"><a class="text-dark" href="{{ path('subCategory2_index', {'id': subCateg2.id}) }}">{{ subCateg2.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-sm-2 d-md-none mb-3">
                <a class="btn btn-dark mb-2" data-toggle="collapse" href="#Categories" role="button" aria-expanded="false" aria-controls="Categories">
                    Catégories
                </a>
                <div class="collapse" id="Categories">
                    <div class="card card-shadow card-body">
                        <ul class="list-group list-group-flush">
                            {% for subCateg2 in subCategs2 %}
                                <li class="list-group-item"><a class="text-dark" href="{{ path('subCategory2_index', {'id': subCateg2.id}) }}">{{ subCateg2.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% if products is empty %}
            <div class="col-md-9 d-flex product-content">
                <h3 class="text-center">Cette gamme de produit n'est pas disponible pour le moment !</h3>
            </div>
        {% else %}
            <div class="row col-md-10 product-content">
            {% for product in products %}
                <div class="card card-product mx-3 mb-5" style="width: 15rem;">
                    <a href="{{ path('product_index', {'id': product.id}) }}" class="subCateg ">
                    <img src="{{ asset('uploads/files/' ~ product.images[0]) }}" class="card-img-top card-product-image" alt="...">
                    <div class="card-body card-body-product my-2">
                        <h5 class="card-title text-center">{{ product.name }}</h5>
                        <p class="card-text text-center">{{ product.price }} €</p>
                    </div>
                    </a>
                </div>
            {% endfor %}
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}