{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h1>Validation de votre commande</h1>
        {% if is_granted('ROLE_SUBSCRIBER') %}
        {% else %}
        <p>Déjà client ? <a href="{{ path('app_login') }}">Cliquez ici pour vous identifier !</a></p>
        {% endif %}
        <div class="row justify-content-between">
            <div class="col-md-7 mb-5">
                <hr>
                <h3 class="mb-4">Informations de facturation</h3>
                {%  if billingAddress != null %}
                <p><strong>Non et Prénom :</strong> {{ billingAddress.firstname }} {{ billingAddress.lastname }}</p>
                <p><strong>Numéro et rue :</strong> {{ billingAddress.street }}</p>
                <p><strong>Complement d'adresse :</strong> {{ billingAddress.complement }}</p>
                <p><strong>Entreprise :</strong> {{ billingAddress.companyName}}</p>
                <p><strong>Code postale : </strong>{{ billingAddress.zipCode }}</p>
                <p><strong>Ville :</strong> {{ billingAddress.city }}</p>
                <p><strong>Pays :</strong> {{ billingAddress.country }}</p>
                <p><strong>Téléphone :</strong> {{ billingAddress.phone }}</p>
                <a href="{{ path('profile') }}">Modifier</a>
                {% else  %}
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col">{{ form_row(form.firstname) }}</div>
                        <div class="col">{{ form_row(form.lastname) }}</div>
                    </div>
                    {{ form_row(form.email) }}
                    <div class="row">
                        <div class="col">{{ form_row(form.street) }}</div>
                        <div class="col">{{ form_row(form.complement) }}</div>
                    </div>
                    {{ form_rest(form) }}
                    {% if shippingAddress != null %}
                    {% else %}
                        <a href="{{ path('app_login') }}">Expédier à une adresse différente ?</a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-md-4">
                <div class="card bg-white card-detail">
                    <div class="card-body">
                        <h3>Votre commande</h3>
                        <hr>
                        {% for item in items %}
                            <p>{{ item.product.name }}</p>
                            <div class="d-flex justify-content-between">
                                <p>Quantité : <strong>{{ item.quantity }}</strong></p>
                                <p><strong>{{ item.product.price * item.quantity }} €</strong></p>
                            </div>
                            <hr>
                        {% endfor%}
                        <p>Total des articles : <strong>{{ total }} €</strong></p>
                        <hr>
                        <h5>Livraison</h5>
                        <p>{{ shipping.type }} : <strong>{{ shipping.price }} €</strong></p>
                        <hr>
                        <h5 class="font-weight-bold">Total</h5>
                        <p class="text-right">Total : <strong>{{ total + shipping.price }} €</strong></p>
                        <div class="col text-center mt-4">
                            {% if billingAddress != null %}
                            <a class="btn btn-dark" href="{{ path('payment') }}">Valider la commande</a>
                            {% else %}
                            <button class="btn btn-dark">{{ button_label|default('Payer la commande') }}</button>
                            {{ form_end(form) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}